body{
    background: #E5E5E5;
    width: 100%;
    height: 100%;
    
}
.logo{
  
width: 2em;
height: 3em;
padding-left: 2.8em;
padding-top: 2.5em;
}
main{
    display: flex;
    margin-left: 5em;
    margin-bottom: 3.2em;
    width: 100%;
}

textarea:focus, input:focus, input[type]:focus {
    outline: 0 none;
}


.input-texto{
    height: 2.2em; 
    width: 60%;
    margin-left: 1.5em;
    margin-top: 4em;
    margin-bottom: 15.5em;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 25em;
    font-size: 2em;
    line-height: 150%;
    resize: none;
    border: none;
    color: #0A3871;
    background: transparent;
    
}
.input-texto::placeholder{
    color: #0A3871;  
}
.icono{
    
    position: absolute;
    padding-left: 2%;

}
.soloMinusculas{
    width: 100%;
    padding-left: 6%;
    font-family: 'Montserrat', sans-serif;
    color: #495057;
    font-size: 0.8em;
}

.botones{
    padding-left: 2.5em;
    
}


.bEncriptar{
    width: 40%;
    padding: 1em;
    font-size: 1em;
    color: white;
    margin-top: 1em;
    border: #0A3871;
    border-radius: 1.2em;
    background: #0A3871;
    

}

.bDesencriptar{
    width: 40%;
    padding: 1em;
    font-size: 1em;
    margin-top: 1em;
    margin-left: 1em;
    border-color: #0A3871;
    border-radius: 1.2em;
}

.contenedorD{
    background: white;
    width: 15.6em;
    height: 90%;
    border-radius: 32px;
    border: none;
    padding-left: 80%;
    padding-right: 80%;
}
.img{
    padding-top: 3em;
    
}

.mensaje{
    color: #343A40;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    padding-left: 20px;
    
}
.texto{
    color: #495057;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    padding-left: 20px;
    padding-top: 15px;
}

.output {
    color: #0A3871;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    border: 0;
    background: none;
    resize: none;
    font-size: 2em;
}

.bCopiar{
    margin-left: 80%;
    width: 90%;
    padding: 1em;
    font-size: 1em;
    margin-top: 1em;
    border-color: #0A3871;
    border-radius: 1.2em; 
}
